
@{
    ViewBag.Title = "HomePage";
}


<div class="jumbotron" style="margin-top: 75px">
    <h1>Attendance App</h1>
    <p class="lead">Register to be able to track your attendance profile, track employees and handle permissions...</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">SIGN IN</a></p>
    <p>Don't have an account? <a href="/Account/Register">SIGN UP</a></p>
</div>